.tile {
  width: 64px;
  height: 64px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
}

.tilePartial {
  background-color: yellow;
}

.tileMatch {
  background-color: lightgreen;
}


.tileList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 16px;
}
